/* UsefulResources.css */

.useful-resources {
  max-width: 98vw;
  margin: 0 auto;
  padding: 20px;
  font-family: "Texturina", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  position: absolute;
  top: 170%;
  left: 3%;
}

.useful-resources h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.guides {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.guide {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.guide h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.guide p {
  margin-bottom: 15px;
}

.guide a {
  display: inline-block;
  background-color: #297ad6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.guide a:hover {
  background-color: #185493;
}
